# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
*.obj
*.pdb
*.log
*.tlog
*.ipdb
*.exp
*.iobj
*.lib
*.vcxproj
*.filter
*.user
ModelViewer
*.exe
x64
x32

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/